
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="shop">
         <h2>Products</h2>
         <ul>
             <li v-for="(item, key) in productList">{{ item.name }} (10 item), cost: ${{ item.price }}
                 <button type="button" @click='addToCart(key)'>Add</button>
             </li>
         </ul>
        <h2>Cart</h2>
        <ul>
            <li v-for="(item, key) in cart_list" v-if="item">{{ productList[key].name }} (10 item), x{{ item }}. 
                Total: ${{ productList[key].price * item}} 
                <button type="button" @click='removeFromCart(key)'>Remove</button>
            </li>
        </ul>
        <strong>Total: </strong>${{ total }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <script>
        new Vue ({
            el: "#shop",
            data: {
                productList:  [
                    {
                        name: 'Bred',
                        price: 10
                    },
                    {
                        name: 'Milk',
                        price: 20
                    },
                    {
                        name: 'Сhees',
                        price: 30
                    }],
                cart_list: JSON.parse(localStorage.cart || '{}'),
            },
            computed: {
                total: function() {
                    var total = 0;
                    for (var i in this.cart_list) {
                        var prod = this.productList[i];
                        var count = this.cart_list[i];
                        total += prod.price * count;
                    }
                    return total;
                }
            },
            methods: {
                addToCart: function(key){
                    if(void 0 === this.cart_list[key]){
                        this.$set(this.cart_list, key, 1);
                    } else {
                        this.cart_list[key]++;
                    }
                    this.saveToCart();
                },
                removeFromCart: function(key){
                    this.$delete(this.cart_list, key);
                    this.saveCart();
                },
                saveToCart: function(){
                    localStorage.cart = JSON.stringify(this.cart_list);
                }
            }
        });
        
    </script>
</body>
</html>


